@{
    ViewBag.Title = "خانه";
}

<div class="jumbotron" style="direction: rtl; text-align: right;">
    <h1 style="direction: rtl; text-align: right;">برنامه مخاطبین</h1>
    <p class="lead" style="direction: rtl; text-align: right;">مینی پروژه ورود به شرکت آمارد</p>
</div>